* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --title-color: #292e3d;
}
html,
body {
  height: 100%;
}
body {
  font-family:
    Work Sans,
    sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.17;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  position: sticky;
  top: 25px;
  left: 0;
  height: 50px;
  display: flex;
  align-items: center;
}
.container {
  max-width: 1120px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.container--width_2 {
  max-width: 600px;
}
.main {
  flex-grow: 1;
}
.section {
  width: 100%;
  padding: 80px 0;
}
.footer_top {
  padding: 80px 0;
  display: flex;
  align-items: center;
  min-height: 370px;
}
.footer_bottom {
  padding: 30px 0;
  display: flex;
  align-items: center;
  min-height: 70px;
  background-color: #2947a9;
}
