
.about{
  padding-bottom: 0;
 
}



.about__in {
  @include bp($point_2, min) {
    display: flex;
    max-width: 121.4rem;
    position: relative;
    padding-bottom: 20rem;
  }
  @include bp($point_3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.about__img_w {
  @include bp($point_2, min) {
    display: block;
    width: 90rem;
    height: 67rem;
    border-radius: 2px;
    object-fit: contain;
    position: absolute;
    z-index: -1;

    top: -5.4rem;
    left: -3.7rem;
  }
  @include bp($point_3) {
    display: block;
    width: 90rem;
    height: 67rem;
    border-radius: 2px;
    object-fit: contain;
  }
}
.about__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about_info {

  display: flex;
  flex-direction: column;
  background-color: $back-color;
  color: $color-white;
  min-height: 52.3rem;
  border-radius: 2px;
  
  
  @include bp($point_2, min) {
    padding: 5rem 6rem 0 4rem;
    max-width: 49rem;
    margin-left: auto;
  }
  
  @include bp($point_3) {
    text-align: center;
    align-items: center;
    margin-left: 0;
    padding: 5rem 6rem 5rem 4rem;
    margin-top: -4rem;
    max-width: 85.3rem;
  }
}
.about__title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.2rem;
  margin-bottom: 3.7rem;
}
.about__descr {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.3rem;

  &.about__descr--1 {
    margin-bottom: 2.5rem;
  }
  &.about__descr--2 {
    margin-bottom: 7.4rem;
  }
}
.about__btn {
  @extend %btn_base;
  background-color: $color-white;
  color: $back-color;
  width: 21.9rem;
  border-radius: 6px;
  border: 2px;

  &:hover {
    background-color: #f9995d;
  }
}
