.header {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
}
.header__in {
  display: flex;
}
.logo_block {
  display: flex;
  column-gap: 1.4rem;
  align-items: center;
}

.header__logo_w {
  width: 3.8rem;
  height: 4.7rem;
  display: block;
}
.header__logo_w_2 {
  width: 11.1rem;
  height: 3.5rem;
  display: block;
}
.header__logo {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.header_menu {
  @include bp($point_2, min) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  @include bp($point_3) {
    display: none;
    position: fixed;
    display: flex;
    z-index: 998;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: $color-white;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    overflow: auto;
  }
  &.header_menu.active {
    @include bp($point_3) {
      transform: translateX(0);
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
    }
  }

  .menu__list {
    @include bp($point_2, min) {
      display: flex;
      column-gap: 5rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.1rem;
    }
    @include bp($point_3){
      padding: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 3rem;
      margin: auto;
      font-size: 3.8rem;
      

    }

    .menu__link {
      color: #14171f;
      text-decoration: none;
      transition: all 0.5s ease-in-out;
    }
    .menu__link:hover {
     color:  #f9995d;
    }
  }
}
.burger {
  @include bp($point_2, min) {
    display: none;
  }
  @include bp($point_3) {
    display: block;
    position: absolute;
    z-index: 999;
    background-image: url("../images/burger.svg");
    top: 2rem;
    right: 1rem;
    width: 20%;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
  }
}
