.phone {
  background-image: url(../images/phone_block.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include bp($point_3){
    background-attachment:local;
  }
}
.phone__in{
  @include bp($point_2, min){
    display: flex;
    align-items: center;
    max-width: 1271px;
  }
  @include bp($point_3){
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

    
    
}
.phone_info {
  color: $color-white;
  margin-right: auto;
  @include bp($point_3){
    margin: 0 auto;
    margin-bottom: 4rem;
  }

}
.phone__title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.2rem;
  margin-bottom: 3rem;
}
.phone__descr {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  .number {
    color: $color-white;
    
  }
}
.phone__btn {
  @extend %btn_base;
  min-width: 23.2rem;
  border-radius: 2px;
  border: 1px solid $color-white;
  color: $color-white;
  padding: 0 2rem;
  margin-left: auto;

  &:hover{
    border-color: #F9995D;
    color:#F9995D ;
    transform: scale(1.2, 1.2);
  }
  @include bp($point_3){
    margin: 0 auto;
  }
}
