.projects__in {
  max-width: 141rem;
}

.header_projects {
  padding: 0 4rem;
  width: 100%;
}
.main__title_p {
  font-family: Work Sans;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.2rem;
  color: #292e3d;
  margin-bottom: 4rem;
  margin-top: 2rem;
  @include bp($point_3) {
    text-align: center;
  }
}
.content {
  display: flex;
  width: 100%;
  // column-gap: 20rem;

  @include bp($point_2, min) {
    padding: 0 4rem;
  }

  @include bp($point_3) {
    flex-direction: column;
    padding: 0;
  }
}

.hero__coll_1 {
  @include bp($point_2, min) {
    width: 26%;
  }

  @include bp($point_3) {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.button_list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.button__tub {
  font-family: Work Sans;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: #c2c7d6;
  text-decoration: none;
  padding-left: 2rem;
  cursor: pointer;
}
.hero__coll_2 {
  margin-left: auto;

  @include bp($point_2, min) {
    max-width: 63%;
  }

  @include bp($point_3) {
    // width: 45rem;
    max-width: 100%;
  }
}
.block_slider {
  @include bp($point_2, min) {
    min-height: 80rem;
  }

  @include bp($point_3) {
    min-height: 152rem;
  }
}
// .img_list {
//   display: grid;
//   grid-template-columns: 0.5fr 1fr;
//   grid-template-rows: 1fr 1fr;

//   gap: 32px;
//   display: none;

// }
.block_slider__inner {
  @include bp($point_3) {
    // column-gap: 1px;
    margin-bottom: 4rem;
  }
}
.img_list.active_1 {
  @include bp($point_2, min) {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;

    column-gap: 3.2rem;
    row-gap: 0;
  }

  @include bp($point_3) {
    display: flex;
    flex-direction: column;
  }
}
.block {
  // min-width: 384px;
  min-height: 33.1rem;
  border-radius: 2px;
  background-color: #2947a9;
  margin-bottom: 3.2rem;
  opacity: 0.5;
  // @include bp($point_3) {
  //   margin: 0 auto;
  // }
}
.block:last-child {
  @include bp($point_3) {
    margin-bottom: 0;
  }
}
.block.active {
  // max-width: 384px;
  min-height: 33.1rem;
  border-radius: 2px;
  background-color: #2947a9;
  margin-bottom: 3.2rem;
  opacity: 1;
}

.block_slider__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include bp($point_2, min) {
    width: 80rem;
    height: 6.4rem;
  }

  @include bp($point_3) {
    width: 32rem;
    height: 6.4rem;
    margin: 0 auto;
  }
  .block_slider__btn {
    width: 29.5rem;
    height: 6.4rem;
    color: $color-white;
  }
  .block_slider__pagination {
    @include bp($point_2, min) {
      position: static;
    }

    @include bp($point_3) {
      display: none;
    }
  }
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 14rem;
  }
}

.img_w {
  @include bp($point_2, min) {
    display: block;
    border-radius: 2px;
    width: 38.4rem;
    height: 24.7rem;
  }
}
.tab__img {
  object-fit: contain;
  display: block;
  width: 100%;
  height: 100%;
}
.img_w__in {
  padding: 1.2rem 1.2rem 1.6rem 1.2rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}
.img__title {
  font-family: Work Sans;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.3rem;
}
.img__descr {
  font-family: Work Sans;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.1rem;
}

.button__tub.active {
  font-family: Work Sans;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: #2947a9;
  border-left: 4px solid #2947a9;
  transition: all 0.1s ease-in-out;
}
