/* services */

.section--back_1 {
    background-color: #f6f8f7;
  }
  
  .services {
    @include bp($point_2, min){
    display: flex;
    margin-right: -98px;
    flex-wrap: wrap;
    }
    @include bp($point_3){
      display: flex;
      flex-direction: column;
      align-items:center;
    }
  }
  .services__item {
    text-align: center;
    padding-top: 38px;
    box-shadow: 0px 0px 37px -2px #1118270d;
    background-color: #ffffff;
  }
  .services__item_w {
    @include bp($point_2, min){
    width: calc(100% / 3);
    padding-right: 98px;
    margin-bottom: 50px;
    }
    @include bp($point_3){
      min-width:27rem;
      margin-bottom: 3rem;
    }
  }
  .services__item_w:last-child{
    @include bp($point_3){
      margin-bottom: 0;
    }

  }
  // .services__item_w:nth-child(odd){
  //   @include bp($point_3){
  //   margin-left: 20rem;
  //   }
  // }
  // .services__item_w:nth-child(even){
  //   @include bp($point_3){
  //   margin-right: 20rem;
  //   }
  // }
  .services__item--background {
    background-color: #2947a9;
    color: #fff;
    
  }
  .services__item--background_2 {
    color: #2947a9;
  }
  .services__img_w {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;
  }
  .services__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }
  .services__line {
    border: 2px solid #e0e3eb;
    margin: 0 auto 20px;
    width: 60px;
  }
  .services__title {
    font-weight: 600;
    padding-bottom: 38px;
    font-size: 2rem;
  }
 
  